<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h3>New chat</h3>
    <form action="/chats" method="POST">
        <input name="from" placeholder="Who are you?" type="text">
        <br>
        <textarea name="msg" placeholder="Message" id=""></textarea>
        <br>
        <input name="to" placeholder="add reciver" type="text">
        <br>
        <button>Create</button>
    </form>
</body>
</html>