*{
    margin: 0;
    padding: 0;
}
.chat{
    background-color: #fabfbf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    margin: 10px;
}
.msg{
    background-color: #fd7f7f;
    padding: 1px 5px;
    border-radius: 5px;
}